.lyric{
	font-family: 'A-OTF Kyoukasho ICA Pro', '霞鹜文楷';
	text-align: center;
	line-height: 100%;
}
.lyric-singer{
	font-size: 120%;
}
rt{
	font-size: 90%;
	font-family: A-OTF Kyoukasho ICA Pro;
}